@import "../../../scss/partials/helpers";
@import "../../../scss/partials/mixins";

$closeButtonHeight: 32px;
$closeButtonDistanceBelow: 40px;

.childWrapper {
  z-index: 100;
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  padding: 0 7.5%;
  width: 85%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  text-align: left;

  @include respond-to(tablet) {
    padding: 0 19%;
    width: 62%;
    text-align: center;
  }
}

.lightbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-height: calc(85% - #{$closeButtonHeight}*2 - #{$closeButtonDistanceBelow});
  text-align: center;
}

.closeButtonWrapper {
  position: absolute;
  bottom: -($closeButtonHeight + $closeButtonDistanceBelow);
  width: 100%;
}

.closeButton {
  margin: 0 auto;
  width: $closeButtonHeight;
  height: $closeButtonHeight;
}
