@import "./mixins";
@import "./variables";

/* Text styles */

%h1-mobile {
  font-family: $CentraleSansPro;
  font-size: 23px;
  font-weight: 300;
  text-align: left;
}

%h1-tablet {
  font-family: $CentraleSansPro;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -1.1px;
  text-align: left;
}

%h1-tablet-media-query {
  @include respond-to(tablet) {
    font-family: $CentraleSansPro;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -1.1px;
    text-align: left;
  }
}

%h1-desktop {
  font-family: $CentraleSansPro;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.06;
  letter-spacing: -1.4px;
  text-align: left;
}

%h4-tablet-mobile {
  font-family: TradeGothic-CondTwenty;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: center;
}

%h4-desktop {
  font-family: TradeGothic-CondTwenty;
  font-size: 18.1px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 1.8px;
  text-align: center;
}

%h5-desktop {
  font-family: $CentraleSansPro;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

%h6-desktop {
  font-family: $CentraleSansPro;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

%small-body-desktop {
  font-family: Helvetica;
  font-size: 10px;
  text-align: center;
}

%legal {
  font-family: $CentraleSansPro;
  font-size: 8px;
  font-weight: bold;
  text-align: right;
}
