@font-face {
  font-family: 'CentraleSansPro'; /*'CentraleSansProBold';*/
  src: url('http://site.bradleydev.twoxfour.com/assets/webfonts/357BF9_0_0.eot');
  src: url('http://site.bradleydev.twoxfour.com/assets/webfonts/357BF9_0_0.eot?#iefix') format('embedded-opentype'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357BF9_0_0.woff2') format('woff2'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357BF9_0_0.woff') format('woff'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357BF9_0_0.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'CentraleSansPro'; /*'CentraleSansProLight';*/
  src: url('http://site.bradleydev.twoxfour.com/assets/webfonts/357BF9_1_0.eot');
  src: url('http://site.bradleydev.twoxfour.com/assets/webfonts/357BF9_1_0.eot?#iefix') format('embedded-opentype'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357BF9_1_0.woff2') format('woff2'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357BF9_1_0.woff') format('woff'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357BF9_1_0.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CentraleSansPro'; /*'CentraleSansProLight-It';*/
  src: url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_2_0.eot');
  src: url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_2_0.eot?#iefix') format('embedded-opentype'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_2_0.woff2') format('woff2'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_2_0.woff') format('woff'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_2_0.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TradeGothic'; /*'TradeGothicLT-BoldCondTwenty';*/
  src: url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_0_0.eot');
  src: url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_0_0.eot?#iefix') format('embedded-opentype'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_0_0.woff2') format('woff2'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_0_0.woff') format('woff'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_0_0.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CentraleSansPro'; /*'CentraleSansProBold-It';*/
  src: url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_1_0.eot');
  src: url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_1_0.eot?#iefix') format('embedded-opentype'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_1_0.woff2') format('woff2'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_1_0.woff') format('woff'),url('http://site.bradleydev.twoxfour.com/assets/webfonts/357E43_1_0.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@import "./mixins";
@import "./variables";

/* Text styles */

%h1-mobile {
  font-family: $CentraleSansPro;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.22;
  letter-spacing: -0.9px;
  text-align: left;
}

%h1-tablet {
  font-family: $CentraleSansPro;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.21;
  letter-spacing: -1.1px;
  text-align: left;
}

%h1-desktop {
  font-family: $CentraleSansPro;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.06;
  letter-spacing: -1.4px;
  text-align: left;
}

%h4-tablet-mobile {
  font-family: $TradeGothic-CondTwenty;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: center;
}

%h4-desktop {
  font-family: $TradeGothic-CondTwenty;
  font-size: 18.1px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 1.8px;
  text-align: center;
}

%h5-desktop {
  font-family: $CentraleSansPro;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

%h6-desktop {
  font-family: CentraleSansPro;
  font-size: 13px;
  font-weight: bold;
  line-height: 2.77;
  letter-spacing: 0.5px;
  text-align: left;
}

%body {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: $slate-grey;
}

%small-body-desktop {
  font-family: Helvetica;
  font-size: 12px;
  text-align: center;
  color: $steel-grey;
}

%legal {
  font-family: $CentraleSansPro;
  font-size: 8px;
  font-weight: bold;
  text-align: right;
}
