/* Color palette */

$green: #91c53b;
$navy: #2f3d6f;
$black: #000000;
$red: #e23e2f;
$orange: #e9872b;
$light-gray: #f1f2f2;
$gray: #a7a9ac;
$dark-gray: #6d6d6d;
$silver: #d1d3d4;
$slate-grey: #58595b;
$steel-grey: #808285;
$charcoal-grey: #414042;


/* Fonts */

$CentraleSansPro: 'CentraleSansPro';
$TradeGothic: 'TradeGothic';

/* Breakpoints */
/* Note: these values are exported and used globally throughout the js too, so changing here will change for everything */

$MobileWidth: 319;
$MobileWidthPX: $MobileWidth + px;

$MobileMaxWidth: 767;
$MobileMaxWidthPX: $MobileMaxWidth + px;

$TabletMaxWidth: 1023;
$TabletMaxWidthPX: $TabletMaxWidth + px;

:export {
  MobileMaxWidth: $MobileMaxWidth;
  TabletMaxWidth: $TabletMaxWidth;
}

/* Padding */

$MobileBodyPadding: 25px;
$TabletBodyPadding: 40px;
$DesktopBodyPadding: 55px;
