@import "../../../../scss/partials/text-styles";
@import "../../../../scss/partials/variables";

%productDetailBtn {
  margin: 5px auto;
  width: 100%;
  height: 42px;
}

.productContent {
  padding: {
    top: 40px;
    left: 7.8125%;
    right: 7.8125%;
  }

  width: 84.375%;
}

.new {
  margin-right: 14px;
  font-family: $CentraleSansPro;
  font-size: 12px;
  font-weight: bold;
  line-height: 3;
  letter-spacing: 0.5px;
  text-align: left;
  color: $red;
}

.sku {
  font-family: $CentraleSansPro;
  font-size: 12px;
  font-weight: bold;
  line-height: 3;
  letter-spacing: 0.5px;
  text-align: left;
  color: $gray;
}

.title {
  @extend %h1-mobile;
  width: 100%;
  height: auto;
  color: $navy;
}



.award {
  display: inline-block;
  margin: 10px;
  height: 50px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.image {
  display: inline-block;
  width: 50%;
}

.submittalBtn {
  @extend %productDetailBtn;
  background-color: $green;
}

.surveyBtn {
  @extend %productDetailBtn;
  background-color: transparent;
  border: solid 1px $slate-grey;
}
