.productContent {
  margin: 50px auto;
  width: 100%;
}

.productContentDesktop {
  margin: 50px auto;
  width: 65%;
}

.details {
  display: inline-block;
  margin: 0px auto;
  width: 50%;
}

.new {
  margin-right: 20px;
  color: red;
}

.sku {
  color: grey;
}

.title {
  border-bottom: 1px solid grey;
}

.award {
  display: inline-block;
  margin: 10px;
  height: 50px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.image {
  display: inline-block;
  width: 50%;
}
