@import "../../../../scss/partials/text-styles";
@import "../../../../scss/partials/variables";
@import "../../../../scss/partials/mixins";
@import "../../../../scss/partials/layout";

.productContent {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
  padding-top: 40px;
}

%aboveTitle {
  display: inline;
  font-family: $CentraleSansPro;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1;
  text-align: left;
}

.new {
  @extend %aboveTitle;
  margin-right: 14px;
  color: $red;
}

.sku {
  @extend %aboveTitle;
  color: $gray;
}

.title {
  @extend %h1-mobile;
  margin-top: 17px;
  margin-bottom: 17px;
  width: 100%;
  height: auto;
  color: $navy;

  @extend %h1-tablet-media-query;
  @include respond-to(tablet) {
    margin-bottom: 27px;
  }
}

.award {
  display: inline-block;
  margin-right: 17px;
  margin-bottom: 24px;
  margin-left: 0;
  height: 50px;

  img {
    height: 100%;
    object-fit: cover;
  }

  @include respond-to(desktop){
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.imageSelector {
  width: 100%;
}

$productDetailBtnTabletGap: 16px;

%productDetailBtn {
  margin-top: 23px;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
  height: 42px;
  background: none;
  border: none;
  font-family: CentraleSansPro;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;

  @include respond-to(tablet) {
    width: calc(50% - #{$productDetailBtnTabletGap}/2);
  }
}

.submittalBtn {
  @extend %productDetailBtn;
  background-color: $green;
  color: #ffffff;

  @include respond-to(tablet){
    margin-right: $productDetailBtnTabletGap;
  }
}

.surveyBtn {
  @extend %productDetailBtn;
  margin: 0;
  border: solid 1px $slate-grey;
  background-color: transparent;
  color: $slate-grey;
}

// Desktop

.productContentDesktop {
  padding: {
    top: 40px;
    left: 16%;
    right: 14%;
  }
  width: 70%;
}

.detailsDesktop {
  display: inline-block;
  width: 45%;
}

.titleDesktop {
  @extend %h1-desktop;
  position: relative;
  margin-top: 17px;
  margin-bottom: 40px;
  color: $navy;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -15px;
    left: 0;
    border-bottom: 2px solid $silver;
    width: 92%;
    height: 1px;
  }

}

.imageSelectorDesktop {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  height: 428px;
}

.submittalBtnDesktop {
  @extend %productDetailBtn;
  margin-top: 10px;
  margin-right: 20px;
  width: 212px;
  background-color: $green;
  color: white;
}

.surveyBtnDesktop {
  @extend %productDetailBtn;
  margin-top: 10px;
  border: solid 1px $slate-grey;
  width: 241px;
  background-color: transparent;
  color: $slate-grey;

}
