@import "../Tabs";

$designMarginTop: 20px;

.colTitle {
  margin-bottom: $titleMarginBottom - $designMarginTop;
}

.caseStudy {
  display: inline-block;
  width: 126px;
  margin: $designMarginTop 10px 0px 10px;

  &:first-child {
    margin-left: 0;
  }
}
