@import '../../../../../../scss/partials/mixins';

.videoWrapper {
  margin-bottom: 20px;
  width: 100%;

  @include respond-to(tablet) {
    margin-bottom: 30px;

    &:nth-child(2n + 1) {
      padding-right: 8px;
    }

    &:nth-child(2n) {
      padding-left: 8px;
    }
  }

  @include respond-to(desktop) {
    margin-bottom: 40px;
  }

  .videoOverlayWrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .playButton {
      position: absolute;
      top: 50%;
      right: 50%;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      transform: translate(35px, -35px);

      &:hover {
        box-shadow: 3.5px 8.3px 15.5px 0.5px rgba(0, 0, 0, 0.5);
      }
    }
  }

  h5 {
    margin-top: 20px;
    text-align: center;
  }
}

.video {
  width: 100%;
  height: 100%;
}
