@import "../../../../../../scss/partials/helpers";
@import "../../../../../../scss/partials/variables";
@import "../../../../../../scss/partials/mixins";
@import "../../../../../../scss/partials/grid";

.stretchToHeight {
  height: 100%;
}

.singlePostModule {

  /*
    MOBILE SIZED CONTAINER ONLY
   */

  > :global {
    &:not(.container-size-tablet) {
      background: none !important;
    }
  }

  /*
   MOBILE SIZED CONTAINER + SCREEN AND UP
   */

  @extend %coverBackground;
  width: auto;

  .imageCol {
    @include col(1);

    .imagePadding {
      margin-bottom: 40px;
    }
  }

  .contentCol {
    @include col(1);

    .contentWrapper {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }

    .title {
      margin-bottom: 30px;
      font-family: TradeGothic;
      font-size: 27px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.83;
      letter-spacing: 2.7px;
      text-align: left;
      text-transform: uppercase;
      color: $black;
    }

    .content {
      margin-bottom: 27px;
      line-height: 1.5;
    }

    .button {
      @include col(1);
      margin-bottom: 10px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /*
    TABLET SIZE CONTAINER AND UP
   */

  > :global(.container-size-tablet) {

    .imageCol {
      @include inline-col(2, middle);
      float: none;

      .imagePadding {
        margin-bottom: 0;
        padding-right: 40px;
        height: 100%;
      }
    }

    .contentCol {
      @include inline-col(2, middle);
      float: none;

      .title {
        line-height: 1;
        letter-spacing: 3.6px;
      }

      $buttonWidth: 150px;
      $buttonGutter: 10px;

      .buttonsWrapper {
        max-width: 2 * $buttonWidth + 2 * $buttonGutter;
      }

      .button {
        @include col(2);
        float: left;
        margin-bottom: 0;
        padding-right: $buttonGutter;
        width: $buttonWidth;
      }
    }
  }

  /*
    DESKTOP SIZE CONTAINER
   */

  > :global(.container-size-desktop) {

    .imageCol {
      width: 45.4% !important;

      .imagePadding {
        padding-right: 64px;
      }
    }

    .contentCol {
      width: 54.6% !important;

      .title {
        margin-bottom: 35px;
        line-height: 0.94;
        letter-spacing: 4.2px;
      }

      .content {
        margin-bottom: 37px;
      }
    }
  }

  /*
    TABLET SIZE SCREEN
   */

  @include respond-to(tablet) {

    .contentCol {

      .title {
        font-size: 36px;
      }
    }
  }

  /*
   DESKTOP SIZE SCREEN
  */

  @include respond-to(desktop) {

    .contentCol {

      .title {
        font-size: 42px;
      }
    }
  }
}
