@import "../../../../../../scss/partials/helpers";
@import "../../../../../../scss/partials/variables";
@import "../../../../../../scss/partials/mixins";
@import "../../../../../../scss/partials/grid";

.stretchToHeight {
  height: 100%;
}

.singlePostModule {
  @extend %coverBackground;
  width: auto;

  // remove background on mobile
  @include respond-to-max(tablet) {
    background: none !important;
  }
}

.imageCol {
  @include respond-to(desktop) {
    width: 45.4% !important;
  }
}

.contentCol {
  @include respond-to(desktop) {
    width: 54.6% !important;
  }
}

.imagePadding {
  margin-bottom: 40px;

  @include respond-to(tablet) {
    margin-bottom: 0;
    padding-right: 40px;
    height: 100%;
  }

  @include respond-to(desktop) {
    padding-right: 64px;
  }
}

.contentWrapper {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.title {
  margin-bottom: 30px;
  font-family: TradeGothic;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: 2.7px;
  text-align: left;
  text-transform: uppercase;
  color: $black;

  @include respond-to(tablet) {
    font-size: 36px;
    line-height: 1;
    letter-spacing: 3.6px;
  }
}

.content {
  margin-bottom: 27px;
  line-height: 1.5;
}

$buttonWidth: 150px;
$buttonGutter: 10px;

.buttonsWrapper {
  @include respond-to(tablet) {
    max-width: 2 * $buttonWidth + 2 * $buttonGutter;
  }
}

.button {
  margin-bottom: 10px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(tablet) {
    float: left;
    margin-bottom: 0;
    padding-right: $buttonGutter;
    width: $buttonWidth;
  }
}
