@import "../../../../scss/partials/grid";

.customizable :global {

  .bcorp-row {
    @include row();
    height: 200px;
    border: 2px solid black;
  }

  .bcorp-column {
    height: 200px;
    border: 2px solid white;
    background-color: grey;

    &[data-col-width="12"] {
      @include col(1);
    }
    &[data-col-width="9"] {
      @include col(12 / 9);
    }
    &[data-col-width="8"] {
      @include col(12 / 8);
    }
    &[data-col-width="7"] {
      @include col(12 / 7);
    }
    &[data-col-width="6"] {
      @include col(2);
    }
    &[data-col-width="5"] {
      @include col(12 / 5);
    }
    &[data-col-width="4"] {
      @include col(3);
    }
    &[data-col-width="3"] {
      @include col(4);
    }
  }

}
