@import "../../../scss/partials/variables";
@import "../../../scss/partials/layout";
@import "../../../scss/partials/helpers";
@import "../../../scss/partials/mixins";

$listItemPadding: 20px;
$listItemPaddingTabletDesktop: 40px;

.title {
  margin: {
    top: 60px;
    bottom: 19px;
  }
  width: 100%;
  font-family: $TradeGothic;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.26;
  letter-spacing: 1.6px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.sliderWrapper {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
}

.sliderWrapper :global .track-wrapper {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.buttonsSidesContainer {
  float: none;
  display: inline-block;
  width: 11px;
  height: 100%;
}

.buttonsBelowContainer {
  float: none;
}

.buttonsBelow {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
  margin-bottom: 25px;
  text-align: center;
}

%buttonsBelowText {
  font-family: $CentraleSansPro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $steel-grey;
}

.prevButton {

  img {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 19px;
  }

  span {
    @extend %buttonsBelowText;
    display: inline-block;
    vertical-align: middle;
    margin-left: 19px;
    margin-right: 4px;
  }
}

.nextButton {

  img {
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 19px;
  }

  span {
    @extend %buttonsBelowText;
    display: inline-block;
    vertical-align: middle;
    margin-right: 19px;
    margin-left: 4px;
  }
}


// Tablet-Desktop

$arrowWidthTablet: 11px;

.sliderTabletDesktop {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
  max-width: 1066px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  /* .buttonsSidesContainer {
    position: absolute;
    top: 50%;
    height: auto;

    &.buttonUp {
      left: 0;
    }
    &.buttonDown {
      right: 0;
    }
  } */
}

.leftButton, .rightButton {
  /* width: $arrowWidthTablet; */
  width: 100%;

  img {
    /* max-width: 11px;
    display: inline-block; */
    width: 100%;
  }
}

/* .leftButton  {
  text-align: left;
}
.rightButton {
  text-align: right;
} */
$marginRightAndLeft: 60px;
.sliderTabletDesktop :global .track-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: $marginRightAndLeft;
  margin-right: $marginRightAndLeft;
  padding: 0;
  width: calc(100% - #{$arrowWidthTablet+$marginRightAndLeft}*2);
  text-align: center;

  @include respond-to(desktop) {
    $marginRightAndLeft: 40px;
    margin-left: $marginRightAndLeft;
    margin-right: $marginRightAndLeft;
    width: calc(100% - #{$arrowWidthTablet+$marginRightAndLeft}*2);
  }
}
