@import "../../../scss/partials/variables";
@import "../../../scss/partials/layout";
@import "../../../scss/partials/helpers";
@import "../../../scss/partials/mixins";

$listItemPadding: 20px;
$listItemPaddingTabletDesktop: 40px;

.title {
  margin: {
    top: 40px;
    bottom: 19px;
  }
  width: 100%;
  font-family: $TradeGothic;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.26;
  letter-spacing: 1.6px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.sliderWrapper {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
}

.sliderUl {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.listItem {
  @include list-item-width(2, $listItemPadding);
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  text-align: center;

  &:nth-child(1) {
    padding-right: $listItemPadding / 2;
  }

  &:nth-child(2) {
    padding-left: $listItemPadding / 2;
  }
}

.buttonsSidesContainer {
  float: none;
  display: inline-block;
  width: 11px;
  height: 100%;
}

.buttonsBelowContainer {
  float: none;
}

.buttonsBelow {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
  margin-bottom: 25px;
  text-align: center;
}

%buttonsBelowText {
  font-family: $CentraleSansPro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $steel-grey;
}

.prevButton {

  img {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 19px;
  }

  span {
    @extend %buttonsBelowText;
    display: inline-block;
    vertical-align: middle;
    margin-left: 19px;
    margin-right: 4px;
  }
}

.nextButton {

  img {
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 19px;
  }

  span {
    @extend %buttonsBelowText;
    display: inline-block;
    vertical-align: middle;
    margin-right: 19px;
    margin-left: 4px;
  }
}


// Tablet-Desktop

$arrowWidthTablet: 11px;

.sliderTabletDesktop {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
}

.leftButton, .rightButton {
  width: 100%;

  img {
    width: 100%;
  }
}

.sliderUlTablet {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 55px;
  padding: 0;
  width: calc(100% - #{$arrowWidthTablet}*2);
  text-align: center;
}

.listItemTablet {
  @include list-item-width(3, $listItemPaddingTabletDesktop);
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.listItemDesktop {
  @include list-item-width(5, $listItemPaddingTabletDesktop);
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
