@import "../../../../../../scss/partials/helpers";
@import "../../../../../../scss/partials/mixins";

$buttonWidth: 11px;
$height: 220px;
$tablet-height: 428px;

.buttonLeft, .buttonRight {
  display: inline-block;
  width: $buttonWidth;
  height: $height;
  cursor: pointer;

  img {
    vertical-align: middle;
    width: 100%;
  }

  @include respond-to(tablet) {
    height: $tablet-height;
  }
}

.imagesList :global .track-wrapper {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  width: calc(100% - #{$buttonWidth} - #{$buttonWidth});
  height: $height;
  text-align: center;

  @include respond-to(tablet) {
    height: $tablet-height;
  }
}

.imagesList :global .track {
  height: $height;

  @include respond-to(tablet) {
    height: $tablet-height;
  }
}

:global #lightbox :local .imagesList :global .position-circles {
  display: none;
}

.videoListItem {
  margin: 0 auto;
  width: 35%;

  @include respond-to(tablet) {
    width: 20%;
  }
}

.fitBackground {
  @extend %fitBackground;
}
