@import "../../../../../../scss/partials/helpers";
@import "../../../../../../scss/partials/mixins";

$buttonWidth: 11px;
$height: 220px;
$tablet-height: 428px;

.buttonLeft, .buttonRight {
  display: inline-block;
  width: $buttonWidth;
  height: $height;

  img {
    vertical-align: middle;
    width: 100%;
  }

  @include respond-to(tablet) {
    height: $tablet-height;
  }
}

.imagesList {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  width: calc(100% - #{$buttonWidth} - #{$buttonWidth});
  height: $height;
  text-align: center;

  @include respond-to(tablet) {
    height: $tablet-height;
  }
}

.imageListItem {
  display: inline-block;
  width: 75%;
  height: 100%;
  list-style: none;

  div {
    @extend %fitBackground;
  }
}

.videoListItem {
  margin: 0 auto;
  width: 35%;

  @include respond-to(tablet) {
    width: 20%;
  }
}
