@import "../../../../scss/partials/layout";
@import "../../../../scss/partials/variables";

@import "../Header";

$avatarHeight: 12px;
$flagHeight: 9px;
$topBarTextFontSize: 13px;

.topBar {
  @extend %BodyPaddingWithMediaQueries;
  max-width: 100%;
  height: 30px;
  text-align: right;
}

.topBarColor {
  background-color: $topBarColor;
}

%topBarText {
  font-family: $CentraleSansPro;
  font-size: $topBarTextFontSize;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: $steel-grey;
}

.user, .country {
  display: inline-block;
  height: 100%;
}

.avatar, .userText, .flag, .countryText {
  display: inline-block;
  vertical-align: middle;
}

.user {
  margin-right: 48px;
}

.avatar {
  margin-right: 7px;
  width: 10px;
  height: $avatarHeight;
}

.userText {
  @extend %topBarText;
  height: $avatarHeight;
  line-height: $topBarTextFontSize;
}

.flag {
  margin-right: 9px;
  width: 15px;
  height: $flagHeight;
}

.countryText {
  @extend %topBarText;
  height: $avatarHeight;
  line-height: $topBarTextFontSize;
}

// Bottom bar

$logoWidth: 65px;
$magnifyingGlassWidth: 19px;
$menuSideMargin: 127px;

$spaceBetweenMenuItems: 34px;

.bottomBar {
  @extend %BodyPaddingWithMediaQueries;
  max-width: 100%;
  position: relative;
  height: 60px;
}

.logoWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 12px;
  margin-left: $DesktopBodyPadding;
  width: $logoWidth;
  height: $logoWidth;
}

.logoImage {
  width: 100%;
  height: 100%;
}

.magnifyingGlassWrapper {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: $DesktopBodyPadding;
  margin-bottom: 20px;
  width: 19px;
  height: 19px;
}

.magnifyingGlassImage {
  width: 100%;
  height: 100%;
}

.menuItems {
  display: block;
  box-sizing: border-box;
  float: left;
  // padding-right: $magnifyingGlassWidth + $menuSideMargin;
  // padding-left: $logoWidth + $menuSideMargin;
  width: 100%;
  height: 100%;
  text-align: center;
}

.menuItem {
  display: inline-block;
  vertical-align: middle;
  margin: {
    left: $spaceBetweenMenuItems / 2;
    right: $spaceBetweenMenuItems / 2;
  }

  &:first-child {
    margin-left: 0;
  }

  a {
    font-family: $CentraleSansPro;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $slate-grey;
    text-decoration: none;
    text-transform: uppercase;
  }
}
