@import "../../../../../../scss/partials/helpers";

.vAlignHelper {
  @extend %vAlignHelper;
}

.buttonUp, .buttonDown {
  display: inline-block;
  width: 77px;
  height: 11px;
  text-align: center;

  img {
    height: 100%;
  }
}

.buttonUp {
  margin-bottom: 16px;
}

.buttonDown {
  margin-top: 16px;
}
