@import "../../../scss/partials/layout";

.footer {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
  background: black;
  color: white;
}

.menuItem {
  color: white;

  a {
    color: white;
  }
}
