@import "../../../../../../scss/partials/helpers";

.vAlignHelper {
  @extend %vAlignHelper;
}

.buttonUp, .buttonDown {
  display: inline-block;
  width: 77px;
  height: 11px;
  text-align: center;

  img {
    height: 100%;
  }
}

.buttonUp {
  margin-bottom: 16px;
}

.buttonDown {
  margin-top: 16px;
}

.selectedImageDesktop {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2%;
  padding: 0;
  padding-left: 2%;
  width: 71%;
  height: 100%;
}

.selectedImageDesktopImage {
  @extend %fitBackground;
}

.imagesListWrapperDesktop {
  display: inline-block;
  vertical-align: middle;
  width: 77px;
}

.imagesListDesktop {
  margin: 0;
  padding: 0;
}

.imageListItemDesktop {
  display: inline-block;
  margin: 8px 0;
  width: 100%;
  height: 95px;
  list-style: none;
}

.lightboxWrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
  height: 100%;
}

.lightbox {
  width: 100%;
  height: 100%;
}

.lightboxUlClassName {
  margin-bottom: 0 !important;
  height: 100%;
}

.lightboxListItem {
  padding: 0 !important;
  height: 100%;
  width: 100% !important;
}
