@import "../../../../../../../scss/partials/variables";

.blockTitle {
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  line-height: normal;
  color: $gray;
  text-transform: uppercase;
}

.childLink {
  margin-bottom: 9px;
  color: $navy;
  line-height: normal;
}
