@import "../../../../../../scss/partials/variables";
@import "../../../../../../scss/partials/mixins";
@import "../../../../../../scss/partials/helpers";
@import "../../../../../../scss/partials/grid";

$tabletGutter: 5.2vw;
$desktopGutter: 4.296875vw;

.multiPostButtonModule {

  /*
    MOBILE SIZED CONTAINER ONLY
   */

  &:global {
    &:not(.container-size-tablet) {
      background-image: none !important;
      background-color: $light-gray !important;
    }
  }

  /*
   MOBILE SIZED CONTAINER AND UP
   */

  @extend %coverBackground;
  width: auto;

  h5.title {
    @include col(1);
    margin-bottom: 27px;
    text-align: center;
    color: #2f3d70;
  }

  /*
   TABLET SIZED CONTAINER AND UP
   */

  &:global(.container-size-tablet) {

    h5.title {
      color: #2e3c6e;
    }

    .columnsRow {
      float: left;
      position: relative;
      margin: auto (-$tabletGutter);
    }
  }

  /*
   DESKTOP SIZED CONTAINER
   */

  &:global(.container-size-desktop) {
    padding: 60px $desktopGutter;

    h5.title {
      color: $navy;
    }

    .columnsRow {
      margin: auto (-$desktopGutter);
    }
  }

  /*
   DESKTOP SIZED SCREEN
   */

  @include respond-to(desktop) {

    h5.title {
      font-size: 22px;
    }
  }
}
