@import "../../../../../../scss/partials/variables";
@import "../../../../../../scss/partials/mixins";
@import "../../../../../../scss/partials/helpers";
@import "../../../../../../scss/partials/grid";

$tabletGutter: 5.2vw;
$desktopGutter: 4.296875vw;

.multiPostButtonModule {

  /*
    MOBILE SIZED CONTAINER ONLY
   */

  :local :global > :not(.container-size-tablet) :local {
    background-image: none !important;
    background-color: $light-gray;
  }

  /*
   MOBILE SIZED CONTAINER AND UP
   */

  > :global(.container-size-mobile) {
    @extend %coverBackground;
    box-sizing: border-box;
    width: auto;

    h5.title {
      @include col(1);
      margin-bottom: 27px;
      text-align: center;

      &:global(.module-skin-light) {
        color: $navy;
      }
    }
  }

  /*
   TABLET SIZED CONTAINER AND UP
   */

  > :global(.container-size-tablet) {

    .columnsRow {
      float: left;
      position: relative;
      margin: auto (-$tabletGutter);
      width: calc(100% + #{2 * $tabletGutter});
    }
  }

  /*
   DESKTOP SIZED CONTAINER
   */

  > :global(.container-size-desktop) {
    padding: 60px $desktopGutter;

    .columnsRow {
      margin: auto (-$desktopGutter);
      width: calc(100% + #{2 * $desktopGutter});
    }
  }

  /*
   TABLET SIZED SCREEN AND UP
  */

  @include respond-to(tablet) {
    :global(.container-size-mobile), :global(.container-size-tablet), :global(.container-size-desktop ) {
      h5.title {
        font-size: 20px;
      }
    }
  }

  /*
   DESKTOP SIZED SCREEN
  */

  @include respond-to(desktop) {
    :global(.container-size-mobile), :global(.container-size-tablet), :global(.container-size-desktop ) {
      h5.title {
        font-size: 24px;
      }
    }
  }
}
