$arrowWidth: 6px;
$arrowMargin: 13px;

.wrapper {
  position: relative;
  padding-left: $arrowWidth + $arrowMargin;
}

.arrowWrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: $arrowWidth;
  height: 9px;
}

.wrapChildren {
  display: inline-block;
  vertical-align: middle;
}
