@import "../../../../../../scss/partials/variables";
@import "../../../../../../scss/partials/mixins";

.moreDetail {
  margin-bottom: 35px;
  width: 100%;
  font-weight: bold;
  line-height: 1.5;
  color: $black;
  cursor: pointer;

  @include respond-to(desktop) {
    margin-bottom: 22px;
  }
}

.content {
  overflow: hidden;
  width: 100%;
  line-height: 1;
  margin-bottom: 15px;

  ul {
    padding-left: 15px;

    li {
      margin-top: 6px;
      margin-bottom: 6px;
      padding-left: 6px;
    }
  }

  @include respond-to(tablet) {
    margin-top: 40px;
  }
}
