@import "../../../scss/partials/layout";
@import "../../../scss/partials/mixins";
@import "../../../scss/partials/variables";

.topBar {
  margin: {
    left: -$TabletBodyPadding;
    right: -$TabletBodyPadding;
  }
  width: calc(100% + $TabletBodyPadding*2);
  height: 27px;

  @include respond-to(desktop){
    margin: {
      left: -$DesktopBodyPadding;
      right: -$DesktopBodyPadding;
    }
    width: calc(100% + $DesktopBodyPadding*2);
    height: 30px;
  }
}
