@import "../../../../scss/partials/layout";
@import "../../../../scss/partials/variables";
@import "../../../../scss/partials/mixins";


.appGalleryDetailWrapper {
    
    @include respond-to(mobile) {
        width: 100%;
        margin: 0 0 50px;
    }

    @include respond-to(tablet) {
        width: 83%;
        margin: 0 auto 100px;
    }
      
}

.appGalleryDetailText {
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: Helvetica;
    font-size: 14px;
    color: #58595b;
}

.appGalleryDetailTitle {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d1d3d4;
    margin-bottom: 40px;
    h2 {
        font-family: 'CentraleSansPro';
        color: #2f3d6f;
        letter-spacing: -1.4px;
        line-height: 1.06;
        font-weight: 300;
        text-transform: capitalize;

        @include respond-to(mobile) {
            font-size: 23px;
            margin-bottom: 20px;
        }
    
        @include respond-to(tablet) {
            font-size: 34px;
            margin-bottom: 40px;
        }
    }
}

.featureProductInformation {
    h3 {
        font-family: 'CentraleSansPro';
        font-weight: bold;
        color: #000;
        margin-bottom: 25px;

        @include respond-to(mobile) {
            font-size: 16px;
        }
    
        @include respond-to(tablet) {
            font-size: 24px;
        }
    }
}

.downloadLinkWrapper {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 35px;
    }
}

.downloableImage {
    float: left;
    margin-right: 18px;
    
    img {
        width: 17px;
        height: 26px;
    }
    &:hover {
        cursor: pointer;
    }
}

.downloableText {
    color: #2f3d6f;
    font-size: 16px;
    font-family: 'CentraleSansPro';
    font-weight: bold;
    line-height: 26px;
}

.productListWrapper {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            margin-bottom: 25px;
            
            a {
                color: #2f3d6f;
                font-size: 16px;
                font-family: 'CentraleSansPro';
                font-weight: bold;
                line-height: 18px;
            }

            span {
                display: block;
                color: #a7a9ac;
                font-size: 13px;
                font-weight: normal;
            }
        }
    }
}

.productListButton {
    
    @include respond-to(mobile) {
        width: 100%;
    }

    @include respond-to(tablet) {
        width: 208px;
    }
}

.productListLightBoxButton {
    
    @include respond-to(mobile) {
        width: 100%;
        margin-bottom: 10px;
    }

    @include respond-to(tablet) {
        width: 48.7%;
        float: left;
        margin-bottom: 35px;
    }
}

.productListLightBoxButtonRedBorder {
    background: #fff;
    border: 1px solid #e23f2f;
    color: #e23f2f;
    float: right;

    @include respond-to(mobile) {
        margin-bottom: 35px;
    }
}

.lightBoxListWrapper {

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            color: #808285;
            font-size: 14px;
            font-family: 'Helvetica';
            font-weight: normal;
        }
    }
     
    p {
        color: #808285;
        font-size: 14px;
        font-family: 'Helvetica';
        font-weight: normal;
        margin: 25px 0 30px;
        
        &.lightBoxListWeight {
            color: #000;
            font-size: 13px;
            font-family: 'CentraleSansPro';
            font-weight: bold;
            margin: 0px 0 20px 0;
            text-transform: uppercase;
        }
    }
    
}

.lightBoxWrapper {
    width: 55%;
    margin: 0 auto;
    height: auto;
}

.lightBoxDownloadWrapper {
    width: 37%;
    margin: 0 auto;
    height: auto;
}