@import '../../../../../../../scss/partials/mixins';

$paddingTopBottom: 5px;

.shipmentItem {
  position: relative;
  margin-bottom: 10px;
  padding: $paddingTopBottom 0px;

  .title {
    padding-right: 110px;
    box-sizing: border-box;
  }

  .number {
    position: absolute;
    right: 32px;
    top: 1px;
  }

  .removeWrapper {
    position: absolute;
    top: $paddingTopBottom;
    right: 0;
    width: 12px;
    height: 12px;

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
}
