@import "../../../../../../scss/partials/variables";
@import "../../../../../../scss/partials/mixins";
@import "../../../../../../scss/partials/helpers";
@import "../../../../../../scss/partials/grid";

$arrowWidth: 11px;

.multiPostArrowModule {

  /*
   MOBILE SIZED CONTAINER AND UP
   */

  > :global(.container-size-mobile) {

    @extend %coverBackground;
    box-sizing: border-box;


    h5.title {
      @include col(1);
      margin-bottom: 27px;
      text-align: center;
    }

    $distanceBetweenItems: 20px;

    .slider {
      padding: 0;

      :global(.track-wrapper) {
        margin: {
          right: -$distanceBetweenItems / 2;
          bottom: 0;
          left: -$distanceBetweenItems / 2;
        }
        width: calc(100% + #{$distanceBetweenItems});
      }

      :global(.buttons-below) {
        margin-bottom: 0;
      }
    }

    .postColumn {
      padding: 0 $distanceBetweenItems / 2;

      .imageWrapper {
        margin-bottom: 20px;
        width: 100%;
      }

      h4.title {
        margin-bottom: 18px;
        text-transform: uppercase;
      }

      .content {
        margin-bottom: 30px;
        line-height: 1.5;
        text-align: center;
      }
    }
  }

  /*
   TABLET SIZED CONTAINER AND UP
   */

  > :global(.container-size-tablet) {

    h5.title {
      margin-bottom: 35px;
    }

    $sliderMarginsTablet: 48px;
    $distanceBetweenItemsTablet:44px;

    .slider {
      padding: 0 $arrowWidth;

      :global(.track-wrapper) {
        margin: {
          right: $sliderMarginsTablet - ($distanceBetweenItemsTablet / 2);
          left: $sliderMarginsTablet - ($distanceBetweenItemsTablet / 2);
        }
        width: calc(100% - #{$sliderMarginsTablet * 2} + #{$distanceBetweenItemsTablet});
      }

      :global(.button-up) {
        left: 0;
      }

      :global(.button-down) {
        right: 0;
      }
    }

    .postColumn {
      padding: 0 $distanceBetweenItemsTablet / 2;

      h4.title {
        margin-bottom: 15px;
      }

      .content {
        margin-bottom: 19px;
      }

      .arrowWrapper {
        margin-bottom: 0;
        height: 20px;
        text-align: center;

        .arrow {
          height: 100%;
        }
      }
    }
  }

  /*
   DESKTOP SIZED CONTAINER AND UP
  */

  > :global(.container-size-desktop) {

    padding: {
      right: 5.859375%;
      left: 5.859375%;
    }

    $sliderMarginsDesktop: 50px;
    $distanceBetweenItemsDesktop: 64px;

    .slider {
      padding: 0 $arrowWidth;
      max-width: none;

      :global(.track-wrapper) {
        margin: {
          right: $sliderMarginsDesktop - ($distanceBetweenItemsDesktop / 2);
          left: $sliderMarginsDesktop - ($distanceBetweenItemsDesktop / 2);
        }
        width: calc(100% - #{$sliderMarginsDesktop * 2} + #{$distanceBetweenItemsDesktop});
      }
    }

    .postColumn {
      padding: 0 $distanceBetweenItemsDesktop / 2;
    }
  }

  /*
   TABLET SIZED SCREEN AND UP
  */

  @include respond-to(tablet) {
    :global(.container-size-mobile), :global(.container-size-tablet), :global(.container-size-desktop ) {
      h5.title {
        font-size: 20px;
      }
    }
  }

  /*
   DESKTOP SIZED SCREEN
  */

  @include respond-to(desktop) {
    :global(.container-size-mobile), :global(.container-size-tablet), :global(.container-size-desktop ) {
      h5.title {
        font-size: 24px;
      }
    }
  }
}
