@import "../../../../../../scss/partials/variables";
@import "../../../../../../scss/partials/mixins";
@import "../../../../../../scss/partials/grid";
@import "../../../../../../scss/partials/helpers";

.sliderModule {

  /*
   MOBILE SIZED CONTAINER + SCREEN AND UP
   */

  > :global(.container-size-mobile) {

    h5.heading {
      margin-bottom: 30px;
      text-align: center;
    }

    .sliderWrapper, .sliderWrapperTabletDesktop {
      background-color: initial;

      :global(.button-up), :global(.button-down) {
        display: none;
      }

      :global(.position-circles) {
        margin-top: -20px;
        text-align: right;
      }

      &:global(.module-accent-color-blue) :global(.position-circles) li div:global(.active) {
        background-color: $navy;
      }

      &:global(.module-accent-color-brown) :global(.position-circles) li div:global(.active) {
        background-color: $brown;
      }

      &:global(.module-accent-color-orange) :global(.position-circles) li div:global(.active) {
        background-color: $orange;
      }

      &:global(.module-accent-color-green) :global(.position-circles) li div:global(.active) {
        background-color: $green;
      }
    }

    .sliderItem {

      .imageWrapper {
        @include col(1);

        margin-bottom: 30px;
        padding: 0 10px;
      }

      .contentWrapper {
        @include col(1);

        h4.title {
          margin-bottom: 25px;
          font-size: 27px;
          letter-spacing: 2.7px;
          text-transform: uppercase;
        }

        .content {
          margin-bottom: 27px;
          line-height: 1.5;
        }

        .arrowWrapper {
          height: 20px;
          text-align: center;

          .arrow {
            height: 100%;
          }
        }
      }
    }
  }

  /*
   TABLET SIZED CONTAINER AND UP
   */

  > :global(.container-size-tablet) {

    h5.heading {
      margin-bottom: 25px;
      text-align: left;
    }

    .sliderWrapperTabletDesktop {
      position: relative;
      height: 400px;
    }

    .sliderItem {
      height: 100%;

      .imageWrapper {
        @include inline-col(2, middle);
        float: none;
        margin: 0;
        padding: 0;
        padding-right: 38px;
      }

      .contentWrapper {
        @include inline-col(2, middle);
        float: none;
        padding-right: 34px;

        .arrowWrapper {
          text-align: left;
        }
      }
    }

    :global(.position-circles-vertical) {
      right: -10px;
      @extend %verticalAlignMiddleAbsolutelyPositionedElement;
    }
  }

  /*
   DESKTOP SIZED CONTAINER + SCREEN AND UP
   */

  > :global(.container-size-desktop) {

    h5.heading {
      margin-bottom: 36px;
    }

    .sliderWrapperTabletDesktop {
      height: 450px;
    }

    .sliderItem {

      .contentWrapper {

        h4.title {
          margin-bottom: 35px;
        }

        .content {
          margin-bottom: 42px;
        }
      }
    }

    :global(.position-circles-vertical) {
      right: -20px;
    }
  }

  /*
   TABLET SIZED SCREEN AND UP
   */

  @include respond-to(tablet) {
    :global(.container-size-mobile), :global(.container-size-tablet), :global(.container-size-desktop ) {

      h5.heading {
        font-size: 20px;
      }

      .sliderItem {

        .contentWrapper {

          h4.title {
            font-size: 36px;
            letter-spacing: 3.6px;
            text-align: left;
          }
        }
      }
    }
  }

  /*
   DESKTOP SIZED SCREEN AND UP
   */

  @include respond-to(desktop) {
    :global(.container-size-mobile), :global(.container-size-tablet), :global(.container-size-desktop ) {

      h5.heading {
        font-size: 24px;
      }

      .sliderItem {

        .contentWrapper {

          h4.title {
            font-size: 42px;
            letter-spacing: 4.2px;
            text-align: left;
          }
        }
      }
    }
  }
}
