@import "../../../../scss/partials/text-styles";
@import "../../../../scss/partials/variables";
@import "../../../../scss/partials/mixins";
@import "../../../../scss/partials/layout";

$tabHeight: 65px;

.productDetailTabsUl {
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  text-align: center;
}

.activeTabContent {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
  border: solid 1px $silver;
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: $light-gray;
  text-align: left;
}

.productDetailTabs {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
  border-bottom: 1px solid $silver;
  height: $tabHeight;
  font-family: $CentraleSansPro;
  font-size: 16px;
  font-weight: bold;
  line-height: $tabHeight;
  list-style: none;
  text-align: left;
  color: #2e3c6e;
  cursor: pointer;

  &:first-child {
    margin-top: 62px;
    border-top: 1px solid $silver;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 19px);
    line-height: normal;
  }

  img {
    float: right;
    width: 19px;
    height: 11px;
    margin: ($tabHeight - 11px)/2 0;
  }

}



// Tablet-Desktop

$tabHeightDesktop: 60px;

.tabsWrapperDesktop {
  margin-top: 70px;
}

.productDetailTabsUlDesktop {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
  margin: 0;
  overflow-x: scroll;
  text-align: center;
  white-space: nowrap;
}

.activeTabContentDesktop {
  @extend %BodyPaddingWithMediaQueries;
  @extend %100WidthMinusBodyPaddingWithMediaQueries;
  border: solid 1px $silver;
  padding-top: 80px;
  padding-bottom: 45px;
  background-color: $light-gray;
  text-align: left;
}

.productDetailTabsDesktop {
  margin-right: 1px;
  display: inline-block;
  border: solid 1px $silver;
  width: 118px;
  height: $tabHeightDesktop;
  font-family: $CentraleSansPro;
  font-size: 12px;
  font-weight: bold;
  line-height: $tabHeightDesktop;
  list-style: none;
  text-align: center;
  white-space: normal;
  color: #2e3c6e;
  cursor: pointer;

  span {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 19px);
    line-height: normal;
  }

  img {
    float: right;
    width: 19px;
    height: 11px;
    margin: ($tabHeight - 11px)/2 0;
  }

}
