.tabsWrapper {

  ul {
    width: 100%;
    height: 100px;
    text-align: center;
  }

  .tabs-active-content {
    background-color: lightgrey;
  }
}

.productDetailTabs {
  // dont use a min height here (IE10 support)
  display: inline-flex;
  border: 1px solid lightgrey;
  width: 100px;
  height: 100%;
  list-style: none;
}
