@import "../../../../../scss/partials/variables";
@import "../../../../../scss/partials/mixins";

.moreDetail {
  margin-top: 29px;
  margin-bottom: 35px;
  width: 100%;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: $black;

  @include respond-to(desktop) {
    margin-bottom: 22px;
  }
}

.content {
  width: 100%;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: $slate-grey;

  ul {
    padding-left: 10px;
  }

  @include respond-to(tablet) {
    margin-top: 40px;
  }
}
