@import "../../../../../../../scss/partials/helpers";
@import "../../../../../../../scss/partials/variables";
@import "../../../../../../../scss/partials/mixins";

@import "../MultiPostButtonModule";

.postColumnWrapper {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    button {
      margin-bottom: 0;
    }

    :global .divider :local {
      display: none;
    }
  }

  @include respond-to(tablet) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 $tabletGutter;

    :global .divider :local {
      display: none;
    }

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      transform: translateX(-$tabletGutter);
      background-color: $silver;
    }

    &:first-child {
      &::before {
        width: 0;
      }
    }
  }
}

.imageWrapper {
  margin-bottom: 24px;
}

.image {
  @extend %coverBackground;
}

.title {
  margin-bottom: 21px;
  text-transform: uppercase;
  color: $black;

  @include respond-to(tablet) {
    margin-bottom: 29px;
  }
}

.content {
  margin-bottom: 27px;
  line-height: 1.5;
  text-align: center;
}

.button {
  margin-bottom: 30px;

  @include respond-to(tablet) {
    margin-bottom: 0;
  }
}
