@font-face {
	font-family: 'CentraleSansPro'; /*'CentraleSansProBold';*/
	font-weight: 700;
	font-style: 'normal';
	src: url('/assets/webfonts/357BF9_0_0.eot');
	src: url('/assets/webfonts/357BF9_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/357BF9_0_0.woff2') format('woff2'),url('/assets/webfonts/357BF9_0_0.woff') format('woff'),url('/assets/webfonts/357BF9_0_0.ttf') format('truetype');
}


@font-face {
	font-family: 'CentraleSansPro'; /*'CentraleSansProLight';*/
	font-weight: 300;
	font-style: 'normal';
	src: url('/assets/webfonts/357BF9_1_0.eot');
	src: url('/assets/webfonts/357BF9_1_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/357BF9_1_0.woff2') format('woff2'),url('/assets/webfonts/357BF9_1_0.woff') format('woff'),url('/assets/webfonts/357BF9_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'TradeGothic'; /*'TradeGothicLT-BoldCondTwenty';*/
	font-weight: 700;
	font-style: 'normal';
	src: url('/assets/webfonts/357E43_0_0.eot');
	src: url('/assets/webfonts/357E43_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/357E43_0_0.woff2') format('woff2'),url('/assets/webfonts/357E43_0_0.woff') format('woff'),url('/assets/webfonts/357E43_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'CentraleSansPro'; /*'CentraleSansProBold-It';*/
	font-weight: 700;
	font-style: 'italic';
	src: url('/assets/webfonts/357E43_1_0.eot');
	src: url('/assets/webfonts/357E43_1_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/357E43_1_0.woff2') format('woff2'),url('/assets/webfonts/357E43_1_0.woff') format('woff'),url('/assets/webfonts/357E43_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'CentraleSansPro'; /*'CentraleSansProLight-It';*/
	font-weight: 300;
	font-style: 'italic';
	src: url('/assets/webfonts/357E43_2_0.eot');
	src: url('/assets/webfonts/357E43_2_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/357E43_2_0.woff2') format('woff2'),url('/assets/webfonts/357E43_2_0.woff') format('woff'),url('/assets/webfonts/357E43_2_0.ttf') format('truetype');
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
}
