@import "./globals/grid-globals";
@import "./globals/text-styles-globals";
@import "./globals/buttons-globals";
@import "./globals/hamburgers/hamburgers";

body {
  overflow-x: hidden;
  margin: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

:global .noSelectBackground {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

}

/* IE fix */
img {
	border: 0;
}
