@import '../../../scss/main';

$blurPX: 10px;

.app {
  filter: blur(0px);
  transition: filter 2s;
}

.blurIn {
  filter: blur($blurPX);
  position: relative;
  overflow: hidden;
}

.blurOut {
  filter: blur(0px);
  transition: filter 0.5s;
  position: static;
  overflow: auto;
}
