@import "../../../scss/partials/mixins";

.buttonUp, .buttonDown {
  display: inline-block;
}

.buttonUp {
  float: left;
}

.positionCircles {
  margin-top: 35px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
  }

  @include respond-to(tablet) {
    margin-top: 31px;
  }
}

.buttonsBelowSeparator {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 12px;
}
