@import "../../../scss/partials/mixins";

.trackWrapper, .trackWrapperVertical {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.trackItem {
  display: inline-block;
  float: left;
  height: 100%;
}

.trackItemVertical {
  display: inline-block;
  float: left;
  width: 100%;
}

.buttonUp, .buttonDown, .buttonUpLightbox, .buttonDownLightbox {
  display: inline-block;
  cursor: pointer;
}

.buttonUpLightbox, .buttonDownLightbox {
  height: inherit;
  & > div {
    height: inherit;
  }
}

.buttonUp, .buttonUpLightbox {
  float: left;
}

.buttonDownLightbox {
  float: right;
}

.positionCircles {
  margin-top: 35px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
  }

  @include respond-to(tablet) {
    margin-top: 31px;
  }
}

.buttonsBelowSeparator {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 12px;
}

.inheritHeight {
  height: inherit !important;
}

.lightboxInnerScroller {
  display: inline-block;
}
