@import '../../../../../scss/partials/mixins';

.products {
  margin-bottom: 20px;

  .product {
    margin-bottom: 20px;

    @include respond-to(tablet) {
      margin-bottom: 40px;
    }

    @include respond-to(desktop) {
      margin-bottom: 25px;
    }
  }

  @include respond-to(tablet) {
    margin-bottom: 0px;
  }

  @include respond-to(desktop) {
    margin-bottom: 35px;
  }
}
