@import "../../../../../../scss/partials/grid";
@import "../../../../../../scss/partials/variables";
@import "../../../../../../scss/partials/mixins";
@import "../../../../../../lib/components/Modules/Modules";

.menuModule {

  $margin-bottom: 26px;

  > :global(.container-size-mobile) {
    padding-bottom: $modulePaddingTopBottomMobile - $margin-bottom;

    h5.title {
      margin-bottom: 35px;
      color: $black;
      font-size: 16px;
      line-height: normal;
      text-align: center;
    }

    .menuBlockWrapper {
      @include inline-col(1, top);
      margin-bottom: $margin-bottom;
    }
  }

  > :global(.container-size-tablet) {
    padding-bottom: $modulePaddingTopBottomTablet - $margin-bottom;

    h5.title {
      margin-bottom: 55px;
    }

    .menuBlockWrapper {
      @include inline-col(2, top);
      padding-right: 100px;
    }
  }

  > :global(.container-size-desktop) {
    padding-bottom: $modulePaddingTopBottomDesktop - $margin-bottom;

    .menuBlockWrapper {
      @include inline-col(4, top);
      padding-right: 50px;
    }
  }

  @include respond-to(tablet) {
    :global(.container-size-mobile), :global(.container-size-tablet), :global(.container-size-desktop ) {

      h5.title {
        font-size: 20px;
      }
    }
  }

  @include respond-to(desktop) {
    :global(.container-size-mobile), :global(.container-size-tablet), :global(.container-size-desktop ) {

      h5.title {
        font-size: 24px;
      }
    }
  }
}
